.Conatct_wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

.Page10 {
  position: relative;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.badShahi_mosque {
  height: 100vh;
}

.Lahore_Container {
  background: #000000;
}

.Hr_Department_Contact {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.Hr_Department_Contact_container {
  margin-bottom: 111px;
}

.contact_Lahore_heading {
  position: absolute;
  top: 17.8%;
  left: 48%;
}

.Hr_Department_Contact_Filed {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.Hr_Department_Contact_second_filled {
  width: 100%;
}

.contact_form_input > div > input,
.contact_form_input > div > textarea,
.contact_form_input > div > select {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 1px solid #dadada;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.5px;

  color: #000000;
}
.contact_form_input > div > input:focus-visible,
.contact_form_input > div > textarea:focus-visible,
.contact_form_input > div > select:focus-visible {
  outline: none;
  border-bottom: 1px solid #dadada;
}
.contact_form_input > div > input::placeholder,
.contact_form_input > div > textarea::placeholder,
.contact_form_input > div > select::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #7e7e7e;
}

#send_msg_btn {
  border: 1px solid #000000;
  box-sizing: border-box;
  background-color: #fff;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 16px;
  padding-left: 16px;
}
#send_msg_btn > img {
  padding-left: 12px;
}
.contact_form_input > div > input:focus {
  outline: none !important;
  border-bottom: 1px solid #000000;
}

.contact_form_input > div > input:active {
  outline: none !important;
  border-bottom: 1px solid #000000;
}
@media only screen and (max-width: 1439px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 576px) {
  .contact_Lahore_heading {
    position: absolute;
    top: 17.8%;
    left: 28%;
  }

  .Conatct_wrapper {
    width: auto;
    height: auto;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
  }

  .Page10 {
    position: relative;
    width: auto;
    height: auto;
    scroll-snap-align: start;
    scroll-behavior: smooth;
  }
  .badShahi_mosque {
    height: 40vh;
  }
  .Hr_Department_Contact {
    height: 40vh;
    margin-left: 16px;
  }
}

@media only screen and (max-height: 600px) {
  .contact_Lahore_heading {
    position: absolute;
    top: 17.8%;
    left: 12%;
  }
}
