.Gallery_wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

.Page12 {
  position: relative;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.galeery_First_Wrapper {
  background: #003f63;
}

.galeery_First_Wrapper_ {
  background: #f9ecb7;
}

.wrapper {
  padding: 70px 0;
}
/* Default slide */
.slider_wrapper_gallery_ {
}
.owl-carousel .owl-stage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sm-first-wrapper {
  width: 314px;
  height: 236px;
}
.sm-img > img {
  width: 100%;
  height: 100%;
}

.lg-first-wrapper {
  width: 754px;
  height: 426px;
}

.Gallery_Footer {
  padding-top: 98px;
}

#arrow_img {
  margin-right: 20px;
}
.Sluider_conting_wrappers {
  display: flex;
  justify-content: start;
}
@media only screen and (max-width: 1439px) {
  .sm-first-wrapper {
    width: 284px;
    height: 186px;
  }
  .sm-img > img {
    width: 100%;
    height: 100%;
  }

  .lg-first-wrapper {
    width: 580px;
    height: 316px;
  }
}
@media only screen and (max-width: 1200px) {
  .sm-first-wrapper {
    width: 234px;
    height: 166px;
  }
  .sm-img > img {
    width: 100%;
    height: 100%;
  }

  .lg-first-wrapper {
    width: 520px;
    height: 266px;
  }
}
@media only screen and (max-width: 992px) {
  .sm-first-wrapper {
    width: 174px;
    height: 136px;
  }
  .sm-img > img {
    width: 100%;
    height: 100%;
  }

  .lg-first-wrapper {
    width: 410px;
    height: 236px;
  }
}
@media only screen and (max-width: 768px) {
  .sm-first-wrapper {
    width: 124px;
    height: 136px;
  }
  .sm-img > img {
    width: 100%;
    height: 100%;
  }

  .lg-first-wrapper {
    width: 310px;
    height: 236px;
  }
}
@media only screen and (max-width: 576px) {
  .sm-first-wrapper {
    display: none;
  }
  .sm-img > img {
    width: 100%;
    height: 100%;
  }

  .lg-first-wrapper {
    width: 300px;
    height: 220px;
  }
  .Sluider_conting_wrappers {
    display: flex;
    justify-content: center;
  }
  .Gallery_Footer {
    background: #f9ecb7;
  }
}
